@using GraphQL.Client.Abstractions
@using GraphQL.Client.Http

@using Extensions;
@using Models

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using YelpRandomRestaurantFinder.Data
@inject ProtectedLocalStorage ProtectedLocalStore

@inject IJSRuntime jsRuntime
@inject IGraphQLClient gclient
@inject ILocationService LocationService
@inject ILogger<YelpResponse> _logger

<h3 class="text-primary">Find</h3>
<EditForm Model=@overridenPosition>
    <div classs="form-group">
        <label for="PositionOverride" class="form-label">Override Position</label>
        <InputText class="form-text" @bind-Value=@overridenPosition.OverridenLocation />
        <label for="distance"><input type="range" class="slider" step=".1" min="1" max="25" @bind-value=@searchRange @bind-value:event="oninput"></input></label>
        <h5 class="h5">Categories</h5>
        <a @onclick="args=>updateAllCategoryFilter(true)" href="#">CheckAll</a>/<a @onclick="args=>updateAllCategoryFilter(false)" href="#">unCheckAll</a>
        <ul class="list-group">
            @foreach(var cat in categoriesFilter.Keys ) {
                <li class="list-group-item-action" @onclick="_=>toggleCategory(categoriesFilter[cat], cat)">
                    <input type="checkbox" value=@cat @bind=@categoriesFilter[cat]>
                    <label >@cat</label>
                </li>
            }
        </ul>
        <button class="btn btn-primary" @onclick="FilterorOverride">Submit</button>
    </div>
</EditForm>

@if (selectedLocations is not null) {
    @foreach (var photo in selectedLocations.Photos) {
        <img class="img img-thumbnail" src=@photo />
    }
    <ul>
        <li class="list-group list-group-item"><a class="link link-primary" href=@selectedLocations.Url>@selectedLocations.Name</a></li>
        <li class="list-group list-group-item">Rating: @selectedLocations.Rating</li>
        <li class="list-group list-group-item">Price: @selectedLocations.Price</li>
        <li class="list-group list-group-item">Distance: @toMiles(selectedLocations.Distance).ToString("0.00") Miles Away</li>
        <li class="list-group list-group-item"><h5 class="h5">Categories</h5>
        <ul>
            @foreach (var category in selectedLocations?.Categories) {
                <li class="list-group list-group-item">@category.Title</li>
            }
        </ul>
        </li>
    </ul>
} else {
     <p>Restaurant information is not available</p>
}



@code {
    private List<Business> locations = new();
    private Business? selectedLocations;
    private Dictionary<string, bool> categoriesFilter = new();
    private SearchLocation currentPosition = new();
    private SearchLocation overridenPosition = new();
    private DateTime? cacheDate = null;
    private float searchRange = 5;//search radius in miles

    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();
        overridenPosition.OverridenLocation = "Enter a location";

        cacheDate = (await ProtectedLocalStore.GetAsync<DateTime?>("BusinessCacheDateTime")).Value;
        locations = (await ProtectedLocalStore.GetAsync<List<Business>?>("Business")).Value ?? locations;
        categoriesFilter = (await ProtectedLocalStore.GetAsync<Dictionary<string, bool>>("categoriesFilter")).Value ?? categoriesFilter;

        (currentPosition, bool hasChanged) = await LocationService.GetLocation(currentPosition, overridenPosition);

        if (hasChanged) await GetYelpData();

        if (currentPosition is null || currentPosition.Error is not null) {
            await clearCache(); //if there is no position, overridden or not, there is nothing to get.
            return;
        }

        if (cacheDate is null || hasChanged || DateTime.UtcNow >= cacheDate) 
            await GetYelpData();

        getRandomShop();
    }

    private async void FilterorOverride() {
        if (overridenPosition.OverridenLocation.Equals("") || overridenPosition.OverridenLocation.Equals("Enter a location")) {
            getRandomShop();
            return;
        }
        overridenPosition.isOverridden = true;
        if (overridenPosition.hasChanged(currentPosition)) {
            await clearCache();
            currentPosition = overridenPosition;
            overridenPosition = new();
            await GetYelpData();
        }
        getRandomShop();
    }
    public static double toMiles(double meters) =>
        (float) (meters * 0.000621371192);
    public static float toMeters(float miles) =>
        (float) (miles / 0.000621371192);

    public static DateTime roundUp30(DateTime current) =>
        current.Hour < 30
            ? current.AddMinutes(39 - current.Minute)//round just short to account for seconds
            : current.AddMinutes(59 - current.Minute);

    public async Task GetYelpData() {
        var request = Query.GetAllCategory(currentPosition?.getCurrentLocation(), toMeters(searchRange));
        var response = await gclient.SendQueryAsync<YelpResponse>(request);

        if (response.Errors is not null) {
            _logger.LogError($"GraphQL Response Error: {response.Errors[0].Message} for Location {request.Variables}");
            await clearCache();
            locations = new ();
            return;
        }


        locations = response?.Data?.Search?.Business.ToList() ?? locations;

        foreach (var title in locations.SelectMany(x => x.Categories.Select(x => x.Title)).Distinct())
            if(!categoriesFilter.ContainsKey(title)) categoriesFilter.Add((string)title, true);
        await ProtectedLocalStore.SetAsync("Business", locations);
        await ProtectedLocalStore.SetAsync("BusinessCacheDateTime", roundUp30(DateTime.UtcNow));
        await ProtectedLocalStore.SetAsync("categoriesFilter", categoriesFilter);
    }

    public async Task clearCache() {
        await ProtectedLocalStore.DeleteAsync("Business");
        await ProtectedLocalStore.DeleteAsync("BusinessCacheDateTime");
        await ProtectedLocalStore.DeleteAsync("categoriesFilter");
        cacheDate = null;
    }

    public async Task getRandomShop(string value = "") {
        selectedLocations = locations.Where(x=>x.Categories.Any(x=> categoriesFilter.ContainsKey(x.Title)&&categoriesFilter[x.Title])).GetRandom();
        await ProtectedLocalStore.SetAsync("categoriesFilter", categoriesFilter);
        StateHasChanged();
    }
    public void toggleCategory(bool isChecked, string catTitle) {
        if (categoriesFilter.ContainsKey(catTitle))
            categoriesFilter[catTitle] = !isChecked;
    }
    public void updateAllCategoryFilter(bool isChecked) {
        foreach (var key in categoriesFilter.Keys)
            categoriesFilter[key] = isChecked;
        StateHasChanged();
    }
}
